defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        {{ msmtp_logfile }}

account default
host           {{ ansible_nas_smtp_hostname }}
port           {{ ansible_nas_smtp_port }}
user           {{ ansible_nas_smtp_username }}
password       {{ ansible_nas_smtp_password }}
from           {{ ansible_nas_from_address }}
